{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if error_result %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_result }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}	
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} - {{ pagseguro_version }}</h3>
      </div>
      <div class="panel-body">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab-geral" data-toggle="tab">{{ tab_config_geral  }}</a></li>
			<li><a href="#tab-boleto" data-toggle="tab">{{ tab_config_boleto  }}</a></li>
			<li><a href="#tab-cartao" data-toggle="tab">{{ tab_config_cartao_credito  }}</a></li>
			<li><a href="#tab-deposito" data-toggle="tab">{{ tab_config_deposito  }}</a></li>
			<li><a href="#tab-debito" data-toggle="tab">{{ tab_config_debito_online  }}</a></li>
			<li><a href="#tab-saldo" data-toggle="tab">{{ tab_config_saldo_pagseguro  }}</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab-geral">			
			  <fieldset>
				<legend>{{ text_dados_da_conta }}</legend>		
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-ambiente"><span data-toggle="tooltip" title="{{ help_ambiente }}">{{ entry_ambiente }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_ambiente" id="input-ambiente" class="form-control">
						{% if payment_pagseguro_ambiente == 'sandbox' %}
						<option value="sandbox" selected="selected">{{ text_sandbox }}</option>
						<option value="producao">{{ text_producao }}</option>
						{% else %}
						<option value="producao" selected="selected">{{ text_producao }}</option>
						<option value="sandbox">{{ text_sandbox }}</option>
						{% endif %}
					  </select>
					</div>
				  </div>		
				  <div class="form-group required">
					<label class="col-sm-2 control-label" for="input-token"><span data-toggle="tooltip" title="{{ help_token }}">{{ entry_token }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="payment_pagseguro_token" value="{{ payment_pagseguro_token }}" placeholder="{{ entry_token }}" id="input-token" class="form-control" />
					  {% if error_token %}
					  <div class="text-danger">{{ error_token }}</div>
					  {% endif %}
					</div>
				  </div> 
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-token-sandbox"><span data-toggle="tooltip" title="{{ help_token_sandbox }}">{{ entry_token_sandbox }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="payment_pagseguro_token_sandbox" value="{{ payment_pagseguro_token_sandbox }}" placeholder="{{ entry_token_sandbox }}" id="input-token-sandbox" class="form-control" />
					</div>
				  </div> 		  
				  <div class="form-group required">
					<label class="col-sm-2 control-label" for="input-email"><span data-toggle="tooltip" title="{{ help_email }}">{{ entry_email }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="payment_pagseguro_email" value="{{ payment_pagseguro_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
					  {% if error_email %}
					  <div class="text-danger">{{ error_email }}</div>
					  {% endif %}
					</div>
				  </div>
			  </fieldset>		  
			  <fieldset>
				<legend>{{ text_opcoes_adicionais }}</legend>		  
				  <div class="form-group required">
					<label class="col-sm-2 control-label" for="input-name"><span data-toggle="tooltip" title="{{ help_name }}">{{ entry_name }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="payment_pagseguro_name" value="{{ payment_pagseguro_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
					</div>
				  </div>		  
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="payment_pagseguro_total" value="{{ payment_pagseguro_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
					</div>
				  </div> 
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-posfixo"><span data-toggle="tooltip" title="{{ help_posfixo }}">{{ entry_posfixo }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="payment_pagseguro_posfixo" value="{{ payment_pagseguro_posfixo }}" placeholder="{{ entry_posfixo }}" id="input-posfixo" class="form-control" />
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_update_status_alert }}">{{ entry_update_status_alert }}</span></label>
					<div class="col-sm-10">
					  <label class="radio-inline">
						{% if payment_pagseguro_update_status_alert %}
						<input type="radio" name="payment_pagseguro_update_status_alert" value="1" checked="checked" />
						{{ text_yes }}
						{% else %}
						<input type="radio" name="payment_pagseguro_update_status_alert" value="1" />
						{{ text_yes }}
						{% endif %}
					  </label>
					  <label class="radio-inline">
						{% if not payment_pagseguro_update_status_alert %}
						<input type="radio" name="payment_pagseguro_update_status_alert" value="0" checked="checked" />
						{{ text_no }}
						{% else %}
						<input type="radio" name="payment_pagseguro_update_status_alert" value="0" />
						{{ text_no }}
						{% endif %}
					  </label>
					</div>
				  </div>
			  </fieldset>
			  <fieldset>
				<legend>{{ text_opcoes_entrega }}</legend>
				  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ help_opcoes_entrega }}</div>
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_tipo_frete }}">{{ entry_tipo_frete }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_tipo_frete" id="input-tipo-frete" class="form-control">
						{% if payment_pagseguro_tipo_frete == '0' %}
						<option value="0" selected="selected">{{ text_frete_loja }}</option>
						{% else %}
						<option value="0">{{ text_frete_loja }}</option>
						{% endif %}
						{% if payment_pagseguro_tipo_frete == '1' %}
						<option value="1" selected="selected">{{ text_frete_pagseguro_pac }}</option>
						{% else %}
						<option value="1">{{ text_frete_pagseguro_pac }}</option>
						{% endif %}
						{% if payment_pagseguro_tipo_frete == '2' %}
						<option value="2" selected="selected">{{ text_frete_pagseguro_sedex }}</option>
						{% else %}
						<option value="2">{{ text_frete_pagseguro_sedex }}</option>
						{% endif %}
						{% if payment_pagseguro_tipo_frete == '3' %}
						<option value="3" selected="selected">{{ text_frete_pagseguro_nao_especificado }}</option>
						{% else %}
						<option value="3">{{ text_frete_pagseguro_nao_especificado }}</option>
						{% endif %}	
					  </select>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-envia-endereco-entrega"><span data-toggle="tooltip" title="{{ help_envia_endereco_entrega }}">{{ entry_envia_endereco_entrega }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_envia_endereco_entrega" id="input-envia-endereco-entrega" class="form-control">
						{% if payment_pagseguro_envia_endereco_entrega %}
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
						{% else %}
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
						{% endif %}
					  </select>
					</div>
				  </div>				  
			  </fieldset>
			  <fieldset>
				<legend>{{ text_campos_personalizados }}</legend>
				  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ help_campos_personalizados }}</div>
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-campo-numero"><span data-toggle="tooltip" title="{{ help_campo_numero }}">{{ entry_campo_numero }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_campo_numero" id="input-campo-numero" class="form-control">
					    <option value="">{{ text_none }}</option>
						{% for custom_field in custom_fields %}
						{% if custom_field.name == payment_pagseguro_campo_numero %}
						<option value="{{ custom_field.name }}" selected="selected">{{ custom_field.name }}</option>
						{% else %}
						<option value="{{ custom_field.name }}">{{ custom_field.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>					  
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-campo-complemento"><span data-toggle="tooltip" title="{{ help_campo_complemento }}">{{ entry_campo_complemento }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_campo_complemento" id="input-campo-complemento" class="form-control">
					    <option value="">{{ text_none }}</option>
						{% for custom_field in custom_fields %}
						{% if custom_field.name == payment_pagseguro_campo_complemento %}
						<option value="{{ custom_field.name }}" selected="selected">{{ custom_field.name }}</option>
						{% else %}
						<option value="{{ custom_field.name }}">{{ custom_field.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>						
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-campo-ddd"><span data-toggle="tooltip" title="{{ help_campo_ddd }}">{{ entry_campo_ddd }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_campo_ddd" id="input-campo-ddd" class="form-control">
					    <option value="">{{ text_none }}</option>
						{% for custom_field in custom_fields %}
						{% if custom_field.name == payment_pagseguro_campo_ddd %}
						<option value="{{ custom_field.name }}" selected="selected">{{ custom_field.name }}</option>
						{% else %}
						<option value="{{ custom_field.name }}">{{ custom_field.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>						
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-campo-celular"><span data-toggle="tooltip" title="{{ help_campo_celular }}">{{ entry_campo_celular }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_campo_celular" id="input-campo-celular" class="form-control">
					    <option value="">{{ text_none }}</option>
						{% for custom_field in custom_fields %}
						{% if custom_field.name == payment_pagseguro_campo_celular %}
						<option value="{{ custom_field.name }}" selected="selected">{{ custom_field.name }}</option>
						{% else %}
						<option value="{{ custom_field.name }}">{{ custom_field.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>						
					</div>
				  </div>				  
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-campo-cpf"><span data-toggle="tooltip" title="{{ help_campo_cpf }}">{{ entry_campo_cpf }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_campo_cpf" id="input-campo-cpf" class="form-control">
					    <option value="">{{ text_none }}</option>
						{% for custom_field in custom_fields %}
						{% if custom_field.name == payment_pagseguro_campo_cpf %}
						<option value="{{ custom_field.name }}" selected="selected">{{ custom_field.name }}</option>
						{% else %}
						<option value="{{ custom_field.name }}">{{ custom_field.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>					
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-campo-cnpj"><span data-toggle="tooltip" title="{{ help_campo_cnpj }}">{{ entry_campo_cnpj }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_campo_cnpj" id="input-campo-cnpj" class="form-control">
					    <option value="">{{ text_none }}</option>
						{% for custom_field in custom_fields %}
						{% if custom_field.name == payment_pagseguro_campo_cnpj %}
						<option value="{{ custom_field.name }}" selected="selected">{{ custom_field.name }}</option>
						{% else %}
						<option value="{{ custom_field.name }}">{{ custom_field.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>					
					</div>
				  </div>				  
			  </fieldset>			  
			  <fieldset>
				<legend>{{ text_situacoes_pedido }}</legend>	
				  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ help_situacoes_pedido }}</div>
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_order_aguardando_pagamento }}">{{ entry_order_aguardando_pagamento }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_order_aguardando_pagamento" id="input-order-status-aguardando-pagamento" class="form-control">
					    <option value="">{{ text_none }}</option>
						{% for order_status in order_statuses %}
						{% if order_status.order_status_id == payment_pagseguro_order_aguardando_pagamento %}
						<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
						{% else %}
						<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_order_analise }}">{{ entry_order_analise }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_order_analise" id="input-order-status-analise" class="form-control">
						{% for order_status in order_statuses %}
						{% if order_status.order_status_id == payment_pagseguro_order_analise %}
						<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
						{% else %}
						<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div>             
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_order_paga }}">{{ entry_order_paga }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_order_paga" id="input-order-status-paga" class="form-control">
						{% for order_status in order_statuses %}
						{% if order_status.order_status_id == payment_pagseguro_order_paga %}
						<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
						{% else %}
						<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_order_disputa }}">{{ entry_order_disputa }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_order_disputa" id="input-order-status-disputa" class="form-control">
						{% for order_status in order_statuses %}
						{% if order_status.order_status_id == payment_pagseguro_order_disputa %}
						<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
						{% else %}
						<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div> 
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_order_devolvida }}">{{ entry_order_devolvida }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_order_devolvida" id="input-order-status-devolvida" class="form-control">
						{% for order_status in order_statuses %}
						{% if order_status.order_status_id == payment_pagseguro_order_devolvida %}
						<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
						{% else %}
						<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_order_cancelada }}">{{ entry_order_cancelada }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_order_cancelada" id="input-order-status-cancelada" class="form-control">
						{% for order_status in order_statuses %}
						{% if order_status.order_status_id == payment_pagseguro_order_cancelada %}
						<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
						{% else %}
						<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div> 
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_order_retencao_temporaria }}">{{ entry_order_retencao_temporaria }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_order_retencao_temporaria" id="input-order-status-retencao" class="form-control">
						{% for order_status in order_statuses %}
						{% if order_status.order_status_id == payment_pagseguro_order_retencao_temporaria %}
						<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
						{% else %}
						<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div> 
				  <div class="form-group">
					<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_order_debitada }}">{{ entry_order_debitada }}</span></label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_order_debitada" id="input-order-status-debitada" class="form-control">
						{% for order_status in order_statuses %}
						{% if order_status.order_status_id == payment_pagseguro_order_debitada %}
						<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
						{% else %}
						<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div> 				  
			  </fieldset>
			  <fieldset>
				<legend>{{ text_geral }}</legend>	
				  <div class="form-group required">
					<label class="col-sm-2 control-label" for="input-chave"><span data-toggle="tooltip" title="{{ help_chave }}">{{ entry_chave }}</span></label>
					<div class="col-sm-10">
					  <input type="text" name="payment_pagseguro_chave" value="{{ payment_pagseguro_chave }}" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="input-chave" class="form-control" />
					  {% if error_chave %}
						<div class="text-danger">{{ error_chave }}</div>
					  {% endif %}		  
					</div>
				  </div> 				
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_geo_zone_id" id="input-geo-zone" class="form-control">
						<option value="0">{{ text_all_zones }}</option>
						{% for geo_zone in geo_zones %}
						{% if geo_zone.geo_zone_id == payment_pagseguro_geo_zone_id %}
						<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
						{% else %}
						<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
						{% endif %}
						{% endfor %}
					  </select>
					</div>
				  </div>          
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
					<div class="col-sm-10">
					  <select name="payment_pagseguro_status" id="input-status" class="form-control">
						{% if payment_pagseguro_status %}
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
						{% else %}
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
						{% endif %}
					  </select>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
					<div class="col-sm-10">
					  <input type="text" name="payment_pagseguro_sort_order" value="{{ payment_pagseguro_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
					</div>
				  </div>
			  </fieldset>
			</div>
			<div class="tab-pane" id="tab-boleto">
			  <div class="form-group">
				<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_habilitado  }}">{{ entry_habilitado  }}</span></label>
				<div class="col-sm-10">
				  <label class="radio-inline">
					{% if payment_pagseguro_boleto_status %}
					<input type="radio" name="payment_pagseguro_boleto_status" value="1" checked="checked" />
					{{ text_yes }}
					{% else %}
					<input type="radio" name="payment_pagseguro_boleto_status" value="1" />
					{{ text_yes }}
					{% endif %}
				  </label>
				  <label class="radio-inline">
					{% if not payment_pagseguro_boleto_status %}
					<input type="radio" name="payment_pagseguro_boleto_status" value="0" checked="checked" />
					{{ text_no }}
					{% else %}
					<input type="radio" name="payment_pagseguro_boleto_status" value="0" />
					{{ text_no }}
					{% endif %}
				  </label>					  
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-boleto-desconto"><span data-toggle="tooltip" title="{{ help_desconto  }}">{{ entry_desconto  }}</span></label>
				<div class="col-sm-10">
				  <input type="text" name="payment_pagseguro_boleto_desconto" value="{{ payment_pagseguro_boleto_desconto  }}" placeholder="{{ entry_desconto  }}" id="input-boleto-desconto" class="form-control" />
				</div>
			  </div>			  
			</div>
			<div class="tab-pane" id="tab-cartao">
			  <div class="form-group">
				<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_habilitado  }}">{{ entry_habilitado  }}</span></label>
				<div class="col-sm-10">
				  <label class="radio-inline">
					{% if payment_pagseguro_cartao_credito_status %}
					<input type="radio" name="payment_pagseguro_cartao_credito_status" value="1" checked="checked" />
					{{ text_yes }}
					{% else %}
					<input type="radio" name="payment_pagseguro_cartao_credito_status" value="1" />
					{{ text_yes }}
					{% endif %}
				  </label>
				  <label class="radio-inline">
					{% if not payment_pagseguro_cartao_credito_status %}
					<input type="radio" name="payment_pagseguro_cartao_credito_status" value="0" checked="checked" />
					{{ text_no }}
					{% else %}
					<input type="radio" name="payment_pagseguro_cartao_credito_status" value="0" />
					{{ text_no }}
					{% endif %}
				  </label>					  
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-cartao-credito-desconto"><span data-toggle="tooltip" title="{{ help_desconto  }}">{{ entry_desconto  }}</span></label>
				<div class="col-sm-10">
				  <input type="text" name="payment_pagseguro_cartao_credito_desconto" value="{{ payment_pagseguro_cartao_credito_desconto  }}" placeholder="{{ entry_desconto  }}" id="input-cartao-credito-desconto" class="form-control" />
				</div>
			  </div>
			  <div class="form-group" style="display:none;">
				<label class="col-sm-2 control-label" for="input-cartao-credito-qtde-max-parcelas"><span data-toggle="tooltip" title="{{ help_qtde_max_parcelas  }}">{{ entry_qtde_max_parcelas  }}</span></label>
				<div class="col-sm-10">
				  <input type="text" name="payment_pagseguro_cartao_credito_qtde_max_parcelas" value="{{ payment_pagseguro_cartao_credito_qtde_max_parcelas  }}" placeholder="{{ entry_qtde_max_parcelas  }}" id="input-cartao-credito-qtde-max-parcelas" class="form-control" />
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-cartao-credito-qtde-parcelas-sem-juros"><span data-toggle="tooltip" title="{{ help_qtde_parcelas_sem_juros  }}">{{ entry_qtde_parcelas_sem_juros  }}</span></label>
				<div class="col-sm-10">
				  <input type="text" name="payment_pagseguro_cartao_credito_qtde_parcelas_sem_juros" value="{{ payment_pagseguro_cartao_credito_qtde_parcelas_sem_juros  }}" placeholder="{{ entry_qtde_parcelas_sem_juros  }}" id="input-cartao-credito-qtde-parcelas-sem-juros" class="form-control" />
				</div>
			  </div>			  
			</div>
			<div class="tab-pane" id="tab-deposito">
			  <div class="form-group">
				<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_habilitado  }}">{{ entry_habilitado  }}</span></label>
				<div class="col-sm-10">
				  <label class="radio-inline">
					{% if payment_pagseguro_deposito_status %}
					<input type="radio" name="payment_pagseguro_deposito_status" value="1" checked="checked" />
					{{ text_yes }}
					{% else %}
					<input type="radio" name="payment_pagseguro_deposito_status" value="1" />
					{{ text_yes }}
					{% endif %}
				  </label>
				  <label class="radio-inline">
					{% if not payment_pagseguro_deposito_status %}
					<input type="radio" name="payment_pagseguro_deposito_status" value="0" checked="checked" />
					{{ text_no }}
					{% else %}
					<input type="radio" name="payment_pagseguro_deposito_status" value="0" />
					{{ text_no }}
					{% endif %}
				  </label>				  
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-deposito-desconto"><span data-toggle="tooltip" title="{{ help_desconto  }}">{{ entry_desconto  }}</span></label>
				<div class="col-sm-10">
				  <input type="text" name="payment_pagseguro_deposito_desconto" value="{{ payment_pagseguro_deposito_desconto  }}" placeholder="{{ entry_desconto  }}" id="input-deposito-desconto" class="form-control" />
				</div>
			  </div>			  
			</div>
			<div class="tab-pane" id="tab-debito">
			  <div class="form-group">
				<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_habilitado  }}">{{ entry_habilitado  }}</span></label>
				<div class="col-sm-10">
				  <label class="radio-inline">
					{% if payment_pagseguro_debito_online_status %}
					<input type="radio" name="payment_pagseguro_debito_online_status" value="1" checked="checked" />
					{{ text_yes }}
					{% else %}
					<input type="radio" name="payment_pagseguro_debito_online_status" value="1" />
					{{ text_yes }}
					{% endif %}
				  </label>
				  <label class="radio-inline">
					{% if not payment_pagseguro_debito_online_status %}
					<input type="radio" name="payment_pagseguro_debito_online_status" value="0" checked="checked" />
					{{ text_no }}
					{% else %}
					<input type="radio" name="payment_pagseguro_debito_online_status" value="0" />
					{{ text_no }}
					{% endif %}
				  </label>				  
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-debito-online-desconto"><span data-toggle="tooltip" title="{{ help_desconto  }}">{{ entry_desconto  }}</span></label>
				<div class="col-sm-10">
				  <input type="text" name="payment_pagseguro_debito_online_desconto" value="{{ payment_pagseguro_debito_online_desconto  }}" placeholder="{{ entry_desconto  }}" id="input-debito-online-desconto" class="form-control" />
				</div>
			  </div>			  
			</div>
			<div class="tab-pane" id="tab-saldo">
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-saldo-pagseguro-status"><span data-toggle="tooltip" title="{{ help_habilitado  }}">{{ entry_habilitado  }}</span></label>
				<div class="col-sm-10">
				  <label class="radio-inline">
					{% if payment_pagseguro_saldo_pagseguro_status %}
					<input type="radio" name="payment_pagseguro_saldo_pagseguro_status" value="1" checked="checked" />
					{{ text_yes }}
					{% else %}
					<input type="radio" name="payment_pagseguro_saldo_pagseguro_status" value="1" />
					{{ text_yes }}
					{% endif %}
				  </label>
				  <label class="radio-inline">
					{% if not payment_pagseguro_saldo_pagseguro_status %}
					<input type="radio" name="payment_pagseguro_saldo_pagseguro_status" value="0" checked="checked" />
					{{ text_no }}
					{% else %}
					<input type="radio" name="payment_pagseguro_saldo_pagseguro_status" value="0" />
					{{ text_no }}
					{% endif %}
				  </label>				  
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-saldo-pagseguro-desconto"><span data-toggle="tooltip" title="{{ help_desconto  }}">{{ entry_desconto  }}</span></label>
				<div class="col-sm-10">
				  <input type="text" name="payment_pagseguro_saldo_pagseguro_desconto" value="{{ payment_pagseguro_saldo_pagseguro_desconto }}" placeholder="{{ entry_desconto  }}" id="input-saldo-pagseguro-desconto" class="form-control" />
				</div>
			  </div>			  
			</div>			
		</div>			  
      </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}