{% if (cielo['link'] is defined) %} 

<h2>Detalhes do Pedido {{ operadora }}</h2>
<div class="alert alert-success" id="bluepay_redirect_transaction_msg" style="display:none;"></div>
<table class="table table-striped table-bordered">
{% if (cielo['lr_log'] is defined and cielo['lr_log'] is not empty) %} 
  <tr>
    <td>LR</td>
    <td>{{ cielo['lr_log'] }}</td>
  </tr>
{% endif %} 
    <tr>
    <td>Status</td>
    <td>
{% if v['status']==0 %}
Aguardando pagamento
{% elseif v['status']==1 %}
Autorizado
{% elseif v['status']==2 %}
Pagamento Confirmado
{% elseif v['status']==3 %}
Negado
{% elseif v['status']==10 %}
Cancelado
{% elseif v['status']==11 %}
Devolvido
{% elseif v['status']==12 %}
Pendente
{% elseif v['status']==13 %}
Abortado
{% elseif v['status']==20 %}
Agendado
{% else %}
Em Processamento
{% endif %}    </td>
  </tr>
{% if (cielo['tid'] is defined and cielo['tid'] is not empty) %} 
  <tr>
    <td>TID</td>
    <td>{{ cielo['tid'] }}</td>
  </tr>
{% endif %} 
  <tr>
    <td>Total da transa&ccedil;&atilde;o</td>
    <td>{{ cielo['total_pago'] }}</td>
  </tr>
  <tr>
    <td>Meio</td>
    <td>{{  cielo['bandeira'] }} em {{ cielo['parcelas'] }}x</td>
  </tr>
{% if (cielo['bin'] is defined and cielo['bin'] is not empty) %} 
  <tr>
    <td>BIN</td>
    <td>{{ cielo['bin'] }}</td>
  </tr>
{% endif %} 
  <tr>
    <td></td>
    <td><span class="btn btn-primary" onclick="javascript:abrir('{{ link_consulta }}');" id="aprovar_cielo">Consultar Pedido</span></td>
  </tr>
</table>
<script type="text/javascript">
<!--
function isNumberKey(evt){
          var charCode = (evt.which) ? evt.which : event.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
}
function abrir(URL) {
 
  var width = 600;
  var height = 500;
 
  var left = 99;
  var top = 99;
 
  window.open(URL,'janela', 'width='+width+', height='+height+', top='+top+', left='+left+', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');
 
}
//-->
</script>
{% endif %}