{{ header }}

<div class="container" id="tela_cielo_pagamento">
<script type="text/javascript">
function printDiv(divName) {
var printContents = document.getElementById(divName).innerHTML;
var originalContents = document.body.innerHTML;
document.body.innerHTML = printContents;
window.print();
document.body.innerHTML = originalContents;
}
</script>

<div id="printableArea" style="text-align:center;">

{% if braspag.MerchantOrderId is not null %}

<b>Transa&ccedil;&atilde;o processada com sucesso!</b>
<p>Sua transa&ccedil;&atilde;o foi processada com sucesso junto ao {{ braspag.Payment.Provider }}!
<br>O mesmo encontra-se no status <b>{{ status.nome }}</b>, aguarde o processamento de seu pedido e em breve receber&aacute; atualiza&ccedil;&otilde;es sobre o mesmo.</p>

{% if braspag.Payment.Type=='CreditCard' or braspag.Payment.Type=='DebitCard' %}

<b>Detalhes</b>
<p>
<b>Pedido:</b> {{ pedido.order_id }}<br>

{% if braspag.Payment.AcquirerTransactionId is not null %}
<b>TID:</b> {{ braspag.Payment.AcquirerTransactionId }}<br>
{% endif %}

{% if braspag.Payment.Tid is not null %}
<b>TID:</b> {{ braspag.Payment.Tid }}<br>
{% endif %}

{% if braspag.Payment.PaymentId is not null %}
<b>ID:</b> {{ braspag.Payment.PaymentId }}<br>
{% endif %}

{% if braspag.Payment.Type=='CreditCard' %}
<b>Valor a pagar:</b> {{ (braspag.Payment.Amount/100)|number_format(2,'.','') }} em {{ braspag.Payment.Installments }}x<br>
<b>Bandeira:</b> {{ braspag.Payment.CreditCard.Brand|upper }} ({{ braspag.Payment.CreditCard.CardNumber|upper }})<br>
{% endif %}

{% if braspag.Payment.Type=='DebitCard' %}
<b>Valor a pagar:</b> {{ (braspag.Payment.Amount/100)|number_format(2,'.','') }} &agrave; vista<br>
<b>Bandeira:</b> {{ braspag.Payment.DebitCard.Brand|upper }} ({{ braspag.Payment.DebitCard.CardNumber }})<br>
{% endif %}

{% if braspag.Payment.ReturnCode is not null %}
<b>Log:</b> {{ braspag.Payment.ReturnCode }} - {{ braspag.Payment.ReturnMessage }}<br>
{% endif %}

</p>
</div>

<center>
<a class="button btn btn-info" href="javascript:void(0);" onclick="printDiv('printableArea')">Imprimir cupom</a>{% if repagamento and braspag.Payment.Status==3 %} ou caso queira tentar um novo pagamento <a class="button btn btn-primary" href="index.php?route=extension/payment/braspag5/repagar&id={{ pedido.order_id }}&hash={{ hash }}">Clique aqui</a>
{% endif %}
</center>

{% elseif braspag.Payment.Type=='Boleto' %}

<p>Pague seu boleto at&eacute; o vencimento em: <b>{{ braspag.Payment.ExpirationDate }}</b><p>
<p>
<b>Linha digitavel:</b><br>
<i>{{ braspag.Payment.DigitableLine }}</i>
</p>
<p>
<a class="button btn btn-info btn-xl" target="_blank" href="{{ braspag.Payment.Url }}">Imprimir boleto</a>
</p>

{% elseif braspag.Payment.Type=='EletronicTransfer' and braspag.Payment.Status!=2 %}

<p>Conclua o seu pagamento online no banco para que passamos confirmar o pagamento de seu pedido.<p>
<p>
<a class="button btn btn-info btn-xl" target="_blank" href="{{ link }}">Concluir Pagamento Online</a>
</p>

{% endif %}

{% else %}

<p>Ops, problema ao consultar pedido! Atualize a p&aacute;gina.</p>

{% endif %}

<br>
<p style="text-align:center;">Para qualquer duvida ou informa&ccedil;&atilde;o entre em contato com o loja <a href="index.php?route=information/contact">clicando aqui</a> ou veja <a href="index.php?route=account/order">detalhes de seu pedido</a>.</p>

<br>
</div>

<script>
(function(){
var i = document.createElement('iframe');
i.style.display = 'none';
i.onload = function() { i.parentNode.removeChild(i); };
i.src = '{{ iframe }}';
document.body.appendChild(i);
})();
</script>

{{ footer }}