{{ header }}{{ column_left }}

<div id="content">

<div class="page-header">
<div class="container-fluid">
<div class="pull-right">

{% if pedidos==false %}
<button type="submit" form="form-cielo5" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
{% endif %}

</div>
<h1>{{ heading_title }}</h1>
<ul class="breadcrumb">
{% for breadcrumb in breadcrumbs %}
<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
{% endfor %}
</ul>
</div>
</div>

<div class="container-fluid">

{% if salvo==true %}
<div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> Dados salvos com sucesso!
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}

{% if error_warning %}
<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-list"></i> Configura&ccedil;&otilde;es</h3>
</div>
<div class="panel-body">

<div role="tabpanel">

<ul class="nav nav-tabs" id="tabelas" role="tablist">
{% if pedidos==false %}
<li role="presentation" class="active"><a href="#configuracoes" aria-controls="configuracoes" role="tab" data-toggle="tab">Configura&ccedil;&otilde;es</a></li>
<li role="presentation"><a href="#parcelas" aria-controls="parcelas" role="tab" data-toggle="tab">Cart&atilde;o de Cr&eacute;dito</a></li>
<li role="presentation"><a href="#debito" aria-controls="debito" role="tab" data-toggle="tab">Cart&atilde;o de D&eacute;bito</a></li>
<li role="presentation"><a href="#boleto" aria-controls="boleto" role="tab" data-toggle="tab">Boleto</a></li>
<li role="presentation"><a href="#tef" aria-controls="tef" role="tab" data-toggle="tab">TEF</a></li>
<li role="presentation"><a href="#status" aria-controls="status" role="tab" data-toggle="tab">Status</a></li>
{% endif %}
<li role="presentation"><a href="#pedidos" aria-controls="status" role="tab" data-toggle="tab">Pedidos</a></li>
</ul>

<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-cielo5" class="form-horizontal">

<div class="tab-content">

{% if pedidos==false %}

<div role="tabpanel" class="tab-pane active" id="configuracoes">	  


<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Status Geral</label>
<div class="col-sm-10">
<select name="payment_braspag5_status" id="input-status" class="form-control">
{% if payment_braspag5_status %}
<option value="1" selected="selected">{{ text_enabled }}</option>
<option value="0">{{ text_disabled }}</option>
{% else %}
<option value="1">{{ text_enabled }}</option>
<option value="0" selected="selected">{{ text_disabled }}</option>
{% endif %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-geo-zone">Zona</label>
<div class="col-sm-10">
<select name="payment_braspag5_geo_zone_id" id="input-geo-zone" class="form-control">
<option value="0">Todas</option>
{% for geo_zone in geo_zones %}
    {% if geo_zone.geo_zone_id == payment_braspag5_geo_zone_id %}
<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
    {% else %}
<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
    {% endif %}
{% endfor %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Modo</label>
<div class="col-sm-10">
<select name="payment_braspag5_modo" id="input-status" class="form-control">
{% if payment_braspag5_modo %}
<option value="1" selected="selected">Produ&ccedil;&atilde;o</option>
<option value="0">Teste</option>
{% else %}
<option value="1">Produ&ccedil;&atilde;o</option>
<option value="0" selected="selected">Teste</option>
{% endif %}
</select>
</div>
</div>

<input type="hidden" name="payment_braspag5_operadora" value="cielo">

<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret"><span data-toggle="tooltip" title="Numero de integracao/afiliacao fornecido pela cielo.">MerchantID</span></label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_id" value="{{ payment_braspag5_id }}" placeholder="0000000000" id="input-secret" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret"><span data-toggle="tooltip" title="Fornecida pela cielo.">MerchantKey</span></label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_senha" value="{{ payment_braspag5_senha }}" placeholder="**********************" maxlength="80" id="input-secret" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-canceled-status">Origem CPF/CNPJ</label>
<div class="col-sm-10">
<select name="payment_braspag5_cpf" id="input-canceled-status" class="form-control">
<option value="0" selected="selected">Cliente digita manual</option>
{% for campo in campos %}
{% if campo.custom_field_id == payment_braspag5_cpf %}
<option value="{{ campo.custom_field_id }}" selected="selected">{{ campo.name }}</option>
{% else %}
<option value="{{ campo.custom_field_id }}">{{ campo.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-canceled-status">Origem N&uacute;mero</label>
<div class="col-sm-10">
<select name="payment_braspag5_numero" id="input-canceled-status" class="form-control">
<option value="0" selected="selected">Vai junto ao logradouro</option>
{% for campo in campos %}
{% if campo.custom_field_id == payment_braspag5_numero %}
<option value="{{ campo.custom_field_id }}" selected="selected">{{ campo.name }}</option>
{% else %}
<option value="{{ campo.custom_field_id }}">{{ campo.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-canceled-status">Origem Complemento</label>
<div class="col-sm-10">
<select name="payment_braspag5_complemento" id="input-canceled-status" class="form-control">
<option value="0" selected="selected">Nao requer o uso</option>
{% for campo in campos %}
{% if campo.custom_field_id == payment_braspag5_complemento %}
<option value="{{ campo.custom_field_id }}" selected="selected">{{ campo.name }}</option>
{% else %}
<option value="{{ campo.custom_field_id }}">{{ campo.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>


<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Ativar Debug</label>
<div class="col-sm-10">
<select name="payment_braspag5_debug" id="input-status" class="form-control">
{% if payment_braspag5_debug %}
<option value="1" selected="selected">Sim</option>
<option value="0">N&atilde;o</option>
{% else %}
<option value="1">Sim</option>
<option value="0" selected="selected">N&atilde;o</option>
{% endif %}
</select>
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane" id="debito">
<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Status</label>
<div class="col-sm-10">
<select name="payment_braspag5_status_debito" id="input-status" class="form-control">
{% if payment_braspag5_status_debito %}
<option value="1" selected="selected">{{ text_enabled }}</option>
<option value="0">{{ text_disabled }}</option>
    {% else %}
<option value="1">{{ text_enabled }}</option>
<option value="0" selected="selected">{{ text_disabled }}</option>
    {% endif %}
</select>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input">Titulo</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_titulo_debito" value="{{ payment_braspag5_titulo_debito }}" placeholder="Nome do meio a mostra ao cliente" id="input" class="form-control" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-sort-order">Ordem</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_ordem_debito" value="{{ payment_braspag5_ordem_debito }}" placeholder="0" id="input-sort-order" class="form-control" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="Valor minimo de um pedido para que o cliente possa finalizar usanto este meio de pagamento.">Total minimo</span></label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_total_debito" value="{{ payment_braspag5_total_debito }}" placeholder="0.00" id="input-total" class="dinheiro form-control" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input">Bandeiras</label>
<div class="col-sm-10">

<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_provide_debito[]" id="input" value="electron"{% if 'electron' in payment_braspag5_provide_debito %}checked{% endif %}> Visa Electron
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_provide_debito[]" id="input" value="maestro"{% if 'maestro' in payment_braspag5_provide_debito %}checked{% endif %}> Maestro<br>
</label>
</div>
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane" id="boleto">
<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Status</label>
<div class="col-sm-10">
<select name="payment_braspag5_status_boleto" id="input-status" class="form-control">
{% if payment_braspag5_status_boleto %}
<option value="1" selected="selected">{{ text_enabled }}</option>
<option value="0">{{ text_disabled }}</option>
    {% else %}
<option value="1">{{ text_enabled }}</option>
<option value="0" selected="selected">{{ text_disabled }}</option>
    {% endif %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input">Titulo</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_titulo_boleto" value="{{ payment_braspag5_titulo_boleto }}" placeholder="Nome do meio a mostra ao cliente" id="input" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-sort-order">Ordem</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_ordem_boleto" value="{{ payment_braspag5_ordem_boleto }}" placeholder="0" id="input-sort-order" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="Valor minimo de um pedido para que o cliente possa finalizar usanto este meio de pagamento.">Total minimo</span></label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_total_boleto" value="{{ payment_braspag5_total_boleto }}" placeholder="0.00" id="input-total" class="dinheiro form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input">Banco</label>
<div class="col-sm-10">
<select name="payment_braspag5_provide_boleto" id="input" class="form-control">
{% set arraybancos_boleto = ['Bradesco', 'BancodoBrasil', 'Bradesco2', 'BancodoBrasil2'] %}
{% for k,v in arraybancos_boleto %}
    {% if k==payment_braspag5_provide_boleto %}
<option value="{{ v }}" selected="selected">{{ v }}</option>
    {% else %}
<option value="{{ v }}">{{ v }}</option>
    {% endif %}
{% endfor %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input">Cedente</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_boleto_cedente" value="{{ payment_braspag5_boleto_cedente }}" placeholder="Nome do cedente" id="input" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input">Instru&ccedil;&otilde;es</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_boleto_instrucoes" value="{{ payment_braspag5_boleto_instrucoes }}" placeholder="" id="input" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input">Demostrativo</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_boleto_demo" value="{{ payment_braspag5_boleto_demo }}" placeholder="" id="input" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input">Validade em Dias</label>
<div class="col-sm-10">
<input type="number" name="payment_braspag5_boleto_dias" value="{{ payment_braspag5_boleto_dias }}" placeholder="5" id="input" class="form-control" />
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane" id="tef">
<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Status</label>
<div class="col-sm-10">
<select name="payment_braspag5_status_tef" id="input-status" class="form-control">
{% if payment_braspag5_status_tef %}
<option value="1" selected="selected">{{ text_enabled }}</option>
<option value="0">{{ text_disabled }}</option>
    {% else %}
<option value="1">{{ text_enabled }}</option>
<option value="0" selected="selected">{{ text_disabled }}</option>
    {% endif %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input">Titulo</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_titulo_tef" value="{{ payment_braspag5_titulo_tef }}" placeholder="Nome do meio a mostra ao cliente" id="input" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-sort-order">Ordem</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_ordem_tef" value="{{ payment_braspag5_ordem_tef }}" placeholder="0" id="input-sort-order" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="Valor minimo de um pedido para que o cliente possa finalizar usanto este meio de pagamento.">Total minimo</span></label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_total_tef" value="{{ payment_braspag5_total_tef }}" placeholder="0.00" id="input-total" class="dinheiro form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input">Banco</label>
<div class="col-sm-10">
{% set arraybancos_tef = ['Bradesco', 'BancodoBrasil'] %}
{% for k,v in arraybancos_tef %}
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_provide_tef[]" value="{{ k }}"{% if k in payment_braspag5_provide_tef %} checked{% endif %}> {{ v }}
</label>
</div>
{% endfor %}
</div>
</div>

</div>

<div role="tabpanel" class="tab-pane" id="parcelas">
<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Status</label>
<div class="col-sm-10">
<select name="payment_braspag5_status_cartao" id="input-status" class="form-control">
{% if payment_braspag5_status_cartao %}
<option value="1" selected="selected">{{ text_enabled }}</option>
<option value="0">{{ text_disabled }}</option>
    {% else %}
<option value="1">{{ text_enabled }}</option>
<option value="0" selected="selected">{{ text_disabled }}</option>
    {% endif %}
</select>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input">Titulo</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_titulo_cartao" value="{{ payment_braspag5_titulo_cartao }}" placeholder="Nome do meio a mostra ao cliente" id="input" class="form-control" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-sort-order">Ordem</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_ordem_cartao" value="{{ payment_braspag5_ordem_cartao }}" placeholder="0" id="input-sort-order" class="form-control" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="Valor minimo de um pedido para que o cliente possa finalizar usanto este meio de pagamento.">Total minimo</span></label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_total_cartao" value="{{ payment_braspag5_total_cartao }}" placeholder="0.00" id="input-total" class="dinheiro form-control" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret"><span data-toggle="tooltip" title="O numero maximo de parcelar qual ira dividir em sua loja, lembre-se que deve ser maior ou igual a dividir sem juros e de acordo o seu contrato junto a operadora.">Dividir no maximo</span></label>
<div class="col-sm-10">
<input type="number" min="1" max="12" name="payment_braspag5_div" value="{{ payment_braspag5_div }}" placeholder="De 1 a 12" maxlength="2" id="input-secret" class="form-control" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret"><span data-toggle="tooltip" title="O numero maximo de parcelar qual ira dividir sem cobrar juros em sua loja, lembre-se que deve ser menor ou igual a dividir e de acordo seu contrato com a operadora.">Dividir sem juros</span></label>
<div class="col-sm-10">
<input type="number" min="1" max="12" name="payment_braspag5_sem" value="{{ payment_braspag5_sem }}" placeholder="De 1 a 12" maxlength="2" id="input-secret" class="form-control" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret">Bandeiras aceitas</label>
<div class="col-sm-10">

<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="visa"{% if 'visa' in payment_braspag5_meios %} checked{% endif %}> Visa
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="mastercard"{% if 'mastercard' in payment_braspag5_meios %} checked{% endif %}> Mastercard
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="elo"{% if 'elo' in payment_braspag5_meios %} checked{% endif %}> Elo
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="diners"{% if 'diners' in payment_braspag5_meios %} checked{% endif %}> Diners
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="discover"{% if 'discover' in payment_braspag5_meios %} checked{% endif %}> Discover
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="amex"{% if 'amex' in payment_braspag5_meios %} checked{% endif %}> Amex
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="jcb"{% if 'jcb' in payment_braspag5_meios %} checked{% endif %}> JCB
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="aura"{% if 'aura' in payment_braspag5_meios %} checked{% endif %}> Aura
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="hiper"{% if 'hiper' in payment_braspag5_meios %} checked{% endif %}> Hiper
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="payment_braspag5_meios[]" value="hipercard"{% if 'hipercard' in payment_braspag5_meios %} checked{% endif %}> Hipercard
</label>
</div>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret">Parcela minima</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_minimo" value="{{ payment_braspag5_minimo }}" placeholder="No minimo 5.00" maxlength="10" id="input-secret" class="dinheiro form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret">Taxa % de juros</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_juros" value="{{ payment_braspag5_juros }}" placeholder="0.00" maxlength="10" id="input-secret" class="dinheiro form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Parcelamento com Juros</label>
<div class="col-sm-10">
<select name="payment_braspag5_tipo_parcelamento" id="input-status" class="form-control">
{% if payment_braspag5_tipo_parcelamento==3 %}
<option value="3" selected="selected">Operadora</option>
<option value="2">Loja</option>
{% else %}
<option value="3">Operadora</option>
<option value="2" selected="selected">Loja</option>
{% endif %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Tipo de captura</label>
<div class="col-sm-10">
<select name="payment_braspag5_tipo_captura" id="input-status" class="form-control">
{% if payment_braspag5_tipo_captura=='true' %}
<option value="true" selected="selected">Automatica</option>
<option value="false">Posterior</option>
{% else %}
<option value="true">Automatica</option>
<option value="false" selected="selected">Posterior</option>
{% endif %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret"><span data-toggle="tooltip" title="Nome a exibir na fatura do cartao do cliente. Usar somente letras e numeros e de no maximo 13 digitos.">Soft Descripto</span></label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_soft" value="{{ payment_braspag5_soft }}" placeholder="MINHALOJA" maxlength="13" id="input-secret" class="form-control" />
</div>
</div>

<input type="hidden" name="payment_braspag5_provide_cartao" value="Cielo">

<div class="form-group">
<label class="col-sm-2 control-label" for="input-status">Ativar Anti-fraude</label>
<div class="col-sm-10">
<select name="payment_braspag5_antifraude" id="input-status" class="form-control">
{% if payment_braspag5_antifraude %}
<option value="1" selected="selected">Sim</option>
<option value="0">N&atilde;o</option>
{% else %}
<option value="1">Sim</option>
<option value="0" selected="selected">N&atilde;o</option>
{% endif %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret">Fraude MID (opcional)</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_mid" value="{{ payment_braspag5_mid }}" placeholder="" id="input-secret" class="form-control" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-secret">Fraude Org ID (opcional)</label>
<div class="col-sm-10">
<input type="text" name="payment_braspag5_orgid" value="{{ payment_braspag5_orgid }}" placeholder="" id="input-secret" class="form-control" />
</div>
</div>

</div>

<div role="tabpanel" class="tab-pane" id="status">
<div class="form-group">
<label class="col-sm-2 control-label" for="input-order-status">Aguardando Pagamento</label>
<div class="col-sm-10">
<select name="payment_braspag5_in" id="input-order-status" class="form-control">

{% for order_status in order_statuses %}
{% if order_status.order_status_id == payment_braspag5_in %}
<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
{% else %}
<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
{% endif %}
{% endfor %}

</select>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-pending-status">Pago</label>
<div class="col-sm-10">
<select name="payment_braspag5_pg" id="input-pending-status" class="form-control">
{% for order_status in order_statuses %}
{% if order_status.order_status_id == payment_braspag5_pg %}
<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
{% else %}
<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-failed-status">Negado</label>
<div class="col-sm-10">
<select name="payment_braspag5_ne" id="input-failed-status" class="form-control">
{% for order_status in order_statuses %}
{% if order_status.order_status_id == payment_braspag5_ne %}
<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
{% else %}
<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="input-chargeback-status">Autorizado</label>
<div class="col-sm-10">
<select name="payment_braspag5_au" id="input-chargeback-status" class="form-control">
{% for order_status in order_statuses %}
{% if order_status.order_status_id == payment_braspag5_au %}
<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
{% else %}
<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-chargeback-status">Pendente</label>
<div class="col-sm-10">
<select name="payment_braspag5_pe" id="input-chargeback-status" class="form-control">
{% for order_status in order_statuses %}
{% if order_status.order_status_id == payment_braspag5_pe %}
<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
{% else %}
<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label" for="input-chargeback-status">Cancelado</label>
<div class="col-sm-10">
<select name="payment_braspag5_ca" id="input-chargeback-status" class="form-control">
{% for order_status in order_statuses %}
{% if order_status.order_status_id == payment_braspag5_ca %}
<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
{% else %}
<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
{% endif %}
{% endfor %}
</select>
</div>
</div>
</div>

{% endif %}

<div role="tabpanel" class="tab-pane" id="pedidos">
<table id="example-cielo" class="display table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Pedido</th>
                <th>Total</th>
                <th>&Agrave; Pagar</th>
                <th>TID</th>
                <th>Tipo</th>
				<th>Bandeira</th>
				<th>Status Atual</th>
				<th>LR</th>
				<th>BIN</th>
				<th></th>
            </tr>
        </thead>
        <tbody>
		
{% for k,v in pedidos_cielo %}
<tr>
<td>{{ v.id_braspag }}</td>
<td><a href="index.php?route=sale/order/info&user_token={{ token }}&order_id={{ v.id_pedido }}">{{ v.id_pedido }}</a></td>
<td>{{ v.total_pedido }}</td>
<td>{{ v.total_pago }}</td>
<td>{{ v.tid }}</td>
<td>{{ v.tipo }}</td>
<td>{{ v.bandeira }} em {{ v.parcelas }}x</td>
<td>
{% if v['status']==0 %}
Aguardando pagamento
{% elseif v['status']==1 %}
Autorizado
{% elseif v['status']==2 %}
Pagamento Confirmado
{% elseif v['status']==3 %}
Negado
{% elseif v['status']==10 %}
Cancelado
{% elseif v['status']==11 %}
Devolvido
{% elseif v['status']==12 %}
Pendente
{% elseif v['status']==13 %}
Abortado
{% elseif v['status']==20 %}
Agendado
{% else %}
Em Processamento
{% endif %}
</td>
<td>{{ v.lr }} {{ v.lr_log }}</td>
<td>{{ v.bin }}</td>
<td><a class="btn btn-info btn-xs" onclick="javascript:abrir('index.php?route=extension/payment/braspag5/consultar&user_token={{ token }}&pedido={{ v.id_pedido }}&tid={{ v.link }}');">Detalhes</a></td>
</tr>
{% endfor %}

        </tbody>
    </table>
</div>

</div>

</form>

</div>
</div>
</div>
</div>
</div>

<link href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.maskmoney/3.0.2/jquery.maskMoney.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
<script>
$(function(){
$(".dinheiro").maskMoney({thousands:'', decimal:'.', allowZero:true, suffix: ''});
});
</script>
<script>
$('input[name="payment_braspag5_soft"]').on( "keyup keydown", function() {
var string = $(this).val();
$(this).val(string.replace(/[^0-9a-zA-Z]/g,'').toUpperCase());
});
$(document).ready(function() {
	$('#tabelas a:first').tab('show');
    $('#example-cielo').DataTable({
		"bSort": false,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
        }
    });
} );
</script>
<script type="text/javascript">
<!--
function isNumberKey(evt){
          var charCode = (evt.which) ? evt.which : event.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
}
function abrir(URL) {
 
  var width = 600;
  var height = 500;
 
  var left = 99;
  var top = 99;
 
  window.open(URL,'janela', 'width='+width+', height='+height+', top='+top+', left='+left+', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');
 
}
//-->
</script>

{{ footer }} 